<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <link rel="" href="img/weather.jpeg">
    <link rel="" href="img/weather.jpeg">
     <link rel="stylesheet" href="css/styles.css">
</head>
    <body>
        <div class="main-content">
           {{>header}}
            <p>{{>404}}</p>
        </div>
    
    {{>footer}} 
    </body>
</html>